<h2>Edit This Product</h2>

<em>Product ID: {{this.id}}</em>
<ul>
  <li> Name: {{this.Name}}</li>
  <li> Price: {{this.Price}}</li>
  <li> Inventory: {{this.Inventory}}</li>

</ul>



<form action="/product/{{this.id}}/edit?_method=PUT" method="post" name="_delete" value="PUT">
  Name: <input type="text" id="name" name="EditMe"placeholder="update name of product">
  <br>
  Price: <input type="text" id="price" placeholder="update price">
  <br>
  Inventory: <input type="text" id="inventory" placeholder="update inventory">
  <br>
  <input type="submit" value="submit">
</form>




